name: Monorepo Management 1
on:
  push:
  pull_request:
jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      projects: ${{ steps.changed.outputs.projects }}
    steps:
      - name: code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: get changed proyects
        id: changed
        run: |
          projects=$(git diff HEAD^ HEAD --name-only | grep apps | cut -d '/' -f2 | sort -u | jq -R | jq -s | jq -c)
          echo $projects
          echo "projects=$projects" >> "$GITHUB_OUTPUT"

  test:
    runs-on: ubuntu-latest
    needs: detect
    strategy:
      matrix:
        project: ${{ fromJson(needs.detect.outputs.projects) }}
    steps:
      - name: code checkout
        uses: actions/checkout@v4
      - run: echo {{ matrix.project }}
      - name: install dependencies
        run: npm install
      - name: test
        run: npm test -w "*/${{ matrix.project }}"
