name: Monorepo Management 2
on:
  push:
    paths:
      - 'apps/**'
  pull_request:
    paths:
      - 'apps/**'
jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changes.outputs.changes}}
    steps:
      - name: code checkout
        uses: actions/checkout@v4
      - name: filter
        uses: dorny/paths-filter@v3
        id: changes
        with:
          base: HEAD^
          filters: |
            app1:
              - 'apps/app1/**'
            app2:
              - 'apps/app2/**'
  test:
    needs: detect
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ${{ fromJson(needs.detect.outputs.matrix)}}
    steps:
      - name: code checkout
        uses: actions/checkout@v4
      - name: install dependencies
        run: npm install
      - name: test
        run: npm test -w "apps/${{ matrix.project }}"


