name: Monorepo Management 1
on:
  push:
    paths:
      - 'apps/**'
  pull_request:
    paths:
      - 'apps/**'
jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      projects: ${{ steps.changed.outputs.projects }}
    steps:
      - name: code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: get changed projects
        id: changed
        run: | 
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            BASE="${{ github.base_ref }}"
            HEAD="${{ github.head_ref }}"
            git fetch origin "$BASE" "$HEAD" --quiet
            DIFF_RANGE="origin/${BASE}...origin/${HEAD}"
          else
            
            if git rev-parse HEAD^ >/dev/null 2>&1; then
              DIFF_RANGE="HEAD^...HEAD"
            else
              DIFF_RANGE="$(git hash-object -t tree /dev/null)...HEAD"
            fi
          fi

          files=$(git diff --name-only "$DIFF_RANGE" -- 'apps/**' || true)
          projects=$(echo "$files" | cut -d '/' -f2 | sort -u | jq -R | jq -s | jq -c)
          echo $projects
          echo "projects=$projects" >> "$GITHUB_OUTPUT"

  test:
    runs-on: ubuntu-latest
    needs: detect
    if: ${{ needs.detect.outputs.projects != '' && needs.detect.outputs.projects != '[]' }}
    strategy:
      matrix:
        project: ${{ fromJson(needs.detect.outputs.projects) }}
    steps:
      - name: code checkout
        uses: actions/checkout@v4
      - run: echo "${{ matrix.project }}"
      - name: install dependencies
        run: npm install
      - name: test
        run: npm test -w "apps/${{ matrix.project }}"
