name: Notification Integration
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        id: build
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: app:latest
  slack-notification:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ always() && needs.build.result == 'failure' }}
    steps:
        - name: Checkout code
          uses: actions/checkout@v3
        - name: Notify on failure
          uses: ./.github/actions/slack-notification
          with:
            message: "Build fallido."
            slack-webhook: ${{ secrets.SLACK_WEBHOOK }}

